<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.building.dao.EquipmentMapper">
  <resultMap id="BaseResultMap" type="com.building.entity.Equipment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="equipment_id" jdbcType="CHAR" property="equipmentId" />
    <result column="equipment_name" jdbcType="VARCHAR" property="equipmentName" />
    <result column="equipment_status" jdbcType="INTEGER" property="equipmentStatus" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="stock_time" jdbcType="TIMESTAMP" property="stockTime" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="ser_id" jdbcType="CHAR" property="serId" />
    <result column="kind_id" jdbcType="CHAR" property="kindId" />
    <result column="kind_name" jdbcType="VARCHAR" property="kindName" />
    <result column="fac" jdbcType="VARCHAR" property="fac" />
    <result column="acc" jdbcType="VARCHAR" property="acc" />
    <result column="dept_id" jdbcType="CHAR" property="deptId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="chargeby" jdbcType="VARCHAR" property="chargeby" />
    <result column="buy_prs" jdbcType="VARCHAR" property="buyPrs" />
    <result column="use_to" jdbcType="VARCHAR" property="useTo" />
    <result column="sourse" jdbcType="VARCHAR" property="sourse" />
    <result column="total_fee" jdbcType="VARCHAR" property="totalFee" />
    <result column="depre_type" jdbcType="INTEGER" property="depreType" />
    <result column="pre_depreciation_moon" jdbcType="INTEGER" property="preDepreciationMoon" />
    <result column="salvage_value_rate" jdbcType="DOUBLE" property="salvageValueRate" />
    <result column="mainten_end_time" jdbcType="TIMESTAMP" property="maintenEndTime" />
    <result column="reject_end_time" jdbcType="TIMESTAMP" property="rejectEndTime" />
    <result column="discard_time" jdbcType="TIMESTAMP" property="discardTime" />
    <result column="discard_type" jdbcType="INTEGER" property="discardType" />
    <result column="freq_count" jdbcType="DOUBLE" property="freqCount" />
    <result column="freq_unit" jdbcType="VARCHAR" property="freqUnit" />
    <result column="next_check_time" jdbcType="TIMESTAMP" property="nextCheckTime" />
    <result column="chejian" jdbcType="VARCHAR" property="chejian" />
    <result column="chanxian" jdbcType="VARCHAR" property="chanxian" />
  </resultMap>
  <select id="getTotal" resultType="java.lang.Integer">
    select count(equipment_id) from equipment
  </select>
</mapper>