<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.building.dao.VariantDataMapper">

    <resultMap type="com.building.entity.VariantData" id="VariantData">
        <id property="variantId" column="variant_id"/>
        <result property="countValue" column="count_value"/>
        <result property="countTime" column="count_time"/>
        <result property="countType" column="count_type"/>
        <result property="laTime" column="last_time"/>
        <result property="lastValue" column="last_value"/>
        <result property="thTime" column="this_time"/>
        <result property="thisValue" column="this_value"/>

    </resultMap>

    <select id="findVariantData" resultMap="VariantData">

        SELECT count_value,
               (CASE
                    WHEN count_type = 1 THEN DATE_FORMAT(count_time,'%h')
                    WHEN count_type = 2 THEN DATE_FORMAT(count_time,'%d')
                    WHEN count_type = 3 THEN DATE_FORMAT(count_time,'%m')
                    WHEN count_type = 4 THEN DATE_FORMAT(count_time,'%y')
                   END) AS time
        FROM variant_data
        WHERE variant_id = #{variantId} AND DATE_FORMAT(count_time,'%Y-%m-%d')= DATE_FORMAT(#{countTime},'%Y-%m-%d') AND count_type=#{countType}

    </select>

    <select id="selectAll" resultMap="VariantData">
        select * from variant_data
    </select>

</mapper>